<h2>New post</h2>

<form action="/posts" method="post">
  <div class="input-group">
    <label for="title">Title: </label>
    <input class="form-control" type="text" name="title" id="title" />
  </div>
  <br>
  <div class="input-group">
    <label for="body">Text: </label>
    <textarea class="form-control" name="body" id="body" rows="5"></textarea>
  </div>
  <br>
  <input type="submit" value="Create" class="btn btn-primary">
</form>
